@page "{orderId:int}"
@model Tech_Store_WebApp.Pages.OrderPage.OrderDetailsModel

@{
    ViewData["Title"] = "Order Details";
    string role = HttpContext.Session.GetString("Role");
    if (!"admin".Equals(role))
    {
        Response.Redirect("/Login");
    }
}

<h1>Order Details</h1>

@if (Model.OrderDetails?.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var detail in Model.OrderDetails)
            {
                <tr>
                    <td>@detail.Product.ProductName</td>
                    <td>@detail.Quantity</td>
                    <td>@detail.Price</td>
                    <td>@detail.Total</td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/OrderPage"><button class="btn btn-primary">Back</button></a>
}
else
{
    <p>No details available for this order. <a href="/OrderPage">Back to Order Page</a></p>
}